# Variables de entorno (contraseñas, claves)
.env
*.env

# Datos masivos (no van a GitHub)
dados/SINASC_*.csv
dados/*.zip
*.zip

# Cache Python
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml